h3{
    color: black;
}
.heading{
    color: violet;
}
.one{
    color: black;
    margin-left: 70px;
}
.two{
    color: black;
}
#start{
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin-left: 70px;
}
#starts{
    margin-left: 70px;
}
.black{
    color: darkgreen;
}
a{
    text-decoration: none;
    text-transform: uppercase;
}

.two a{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    word-spacing: 01em;
    background-color: black;
    color: white;
}

a:hover{
    background-color: white;
    color: black;
}
*{
    padding: 0;
    margin: 0;
}
body{
    background-size: cover;
}
.heading{
    text-transform: uppercase;
}
.black{
    color: wheat;
}
header{
    background-color: black;
    height: 5em;
}
.heads{
    float: right;
    margin-top: 35px;
    margin-right: 20px;

}
.heads a{
    color: white;
    border: 5px solid white;
    padding: 3px;
    margin-right: 10px;

}
#lis{
    color: violet;
    border: 2px dotted black;
}



.container{
    margin-left: 30px;
    margin-top: 25px;
}
.p-box{
    border: 4px solid black;
    float: left;
    width: 20%;
    height: 10em;
    margin-left: 10px;
    background-color: blanchedalmond;
    padding: 12px;
}
.p-box h3{
    text-align: center;
}
.p-box p{
    ;line height: 1.50em;
}
.p-box a{
    color: blue;
}
footer{
    background-color: black;
    height: 10%;
    margin-top: 15%;
}

footer h3{
    color: white;
    text-align: center;
}